<div class="container mt-4">
  <button
    *ngIf="foodItems.length > 0"
    class="btn btn-secondary mb-3"
    (click)="resetFoodItems()"
  >
    ⬅ Back to Cuisines
  </button>

  <div *ngIf="foodItems.length === 0">
    <h2>Cuisines</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let category of categories">
        <div class="card">
          <img
            [src]="category.image"
            alt="{{ category.name }}"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">{{ category.name }}</h5>
            <p class="card-text">{{ category.description }}</p>
            <button class="btn btn-primary" (click)="fetchFoodItems(category)">
              See food items
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container food-container">
  <h2 *ngIf="currentCategory?.token">Items in {{ currentCategory.name }}</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let item of foodItems">
      <div class="card food-card">
        <img [src]="item.image" class="card-img-top" alt="{{ item.name }}" />
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <p class="card-text"><strong>Serving:</strong> {{ item.serving }}</p>
          <div class="quantity-controls">
            <button class="btn btn-secondary" (click)="decreaseQuantity(item)">
              -
            </button>
            <span>{{ item?.quantity || 0 }}</span>
            <button class="btn btn-secondary" (click)="increaseQuantity(item)">
              +
            </button>
          </div>

          <div *ngIf="item.quantity > 0" class="mt-4">
            <button class="btn btn-success" (click)="addToCart(item)">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cart-sidebar" [class.open]="isCartOpen">
  <div class="cart-header">
    <h5>Orders</h5>
    <span (click)="toggleCart()">X</span>
  </div>

  <div class="cart-dropdown">
    <select (change)="updateTab($event)">
      <option *ngFor="let tab of orderTabs" value="{{ tab.value }}">
        {{ tab.name }}
      </option>
    </select>
  </div>

  <div class="cart-body">
    <ng-container *ngIf="activeTab === 'current'">
      <ul>
        <li *ngFor="let item of cartItems">
          ({{ item.name }} - {{ item.serving }}) X {{ item.quantity }} : ₹{{
            item.price * item.quantity
          }}
        </li>
      </ul>

      <div *ngIf="cartItems.length > 0" class="cart-total">
        <h5>Total: ₹{{ getTotal() }}</h5>
      </div>

      <div class="cart-footer" *ngIf="cartItems.length > 0">
        <button class="btn btn-success" (click)="placeOrder()">
          Place Order
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="activeTab != 'current'">
      <div>
        <div
          *ngFor="let order of orders; let i = index"
          class="order-container"
        >
          <div class="order-info">
            <span class="eta-text">ETA: {{ order.estimated_time }}</span>
            <span class="order-place">
              Order placed at: {{ order.submission_time | date : "short" }}
            </span>
          </div>

          <div class="order-items">
            <div
              class="row"
              *ngFor="let item of order.food_items; let j = index"
            >
              <div class="order-item">
                <span class="food-name"> {{ item.name }}</span>
                <div class="quantity-container">
                  <button
                    class="quantity-btn"
                    (click)="decreaseOrderQuantity(i, j)"
                    *ngIf="order?.status === 'pending'"
                  >
                    ➖
                  </button>
                  <span class="quantity">{{ item.quantity }}</span>
                  <button
                    class="quantity-btn"
                    (click)="increaseOrderQuantity(i, j)"
                    *ngIf="order?.status === 'pending'"
                  >
                    ➕
                  </button>
                </div>
              </div>
            </div>
          </div>

          <p class="card-text">
            <strong>Total Price:</strong> ₹{{ order.total_price }}
          </p>

          <button
            class="delete-btn"
            (click)="cancelOrder(i)"
            *ngIf="order?.status === 'pending'"
          >
            🗑️ Cancel Order
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>